# ---------- files ----------
# data
*.csv
*.xlsx

# code space
*.code-workspace

# venv
*.pricing-venv

# ---------- folders ----------
# model
__pycache__/

# cache
.cache/

# Virtual environments
.venv/

# vscode folder
.vscode/
